@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spectral+SC:ital@1&family=Spectral:ital,wght@1,400;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spectral+SC:wght@300&family=Spectral:ital,wght@1,400;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@600&display=swap');

/* Fonts used
-Lobster
-Spectral SC
*/
html{
    scroll-behavior:smooth !important;
}
body{
    scroll-behavior:smooth;

    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
.homeSec{
    background-color: #121211;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 51.2vw;
    display: flex;
    /* border: #c40404 solid 1px; */
}
.serviceSec{
    background-color: #1d1d1c;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 51.2vw;
    display: flex;
}
.skillSec{
    background-color: #121211;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 51.2vw;
}
.projectSec{
    background-color: #1d1d1c;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 51.2vw;
}
/* Navigation Bar Style #121211 */
.navBox{
    position: fixed;
    margin-right: 0;
    margin-left: 0;
    padding: 0;
    text-align: center;
    background-color: #161616;
    width: 50%;
    height: 5vw;
    left:25vw;
    border-radius: 0 0 50% 50%;
    box-shadow: 0 0 8px 5px rgba(255, 0, 0, 0.5);
    z-index: 5;
    /* visibility: hidden; */
}
.topredBar{
    position: fixed;
    padding-bottom: 0;
    margin: 0;
    height: 1vh;
    width: 100%;
    background-color: #c40404;
    z-index: 100;
    /* visibility: collapse; */
}
.navBox > .navBar > ul{
    padding: 0;
    list-style: none;
}
.navBar > ul > li{
    display: inline-block;
    margin-top: 0;
    margin-right: 3%;
    padding: 0;
    height: 30%;
    width: fit-content;
}
.navBar > ul > li > a{
    /* visibility: collapse; */
    text-decoration: none;
    color: white;
    font-size: 1.5vw;
    margin: 0;
    padding-left: 5%;
    padding-right: 5%;
    font-family: 'Spectral', serif;
    font-family: 'Spectral SC', serif;
    position: relative;
    transition: color 0.5s;
    transition: transform 0.5s;
    /* border: #c40404 solid 1px; */
}
/* Introduction style */
.introBox{
    position: relative;
    top: 15%;
    left: 10%;
    width: 50vw;
    height: 38.5vw;
    margin-right: 10%;
}
.introBox > .greetingTxt{
    font-size: 3.5vw;
    font-family: 'Spectral', serif;
    font-family: 'Spectral SC', serif;
    color: white;
    margin-top: 0;
    margin-bottom: 0;
}
.introBox > .nameTxt{
    font-size: 5.5vw;
    font-family: 'Lobster', cursive;
    color: #c40404;
    margin-top: 5px;
    margin-bottom: 5px;
}
.introBox > .titleTxt{
    font-size: 3.5vw;
    font-family: 'Spectral', serif;
    font-family: 'Spectral SC', serif;
    color: white;
    margin-top: 0;
} 
.introBox > .shortDis{
    font-size: 1.2vw;
    font-family: 'Spectral', serif;
    font-family: 'Spectral SC', serif;
    color: white;
    margin-bottom: 0;
}
/* Home Line Style */
.introBox hr{
    border: 3px solid#c40404;
}
.introBox .top_l1{
    text-align: left;
    margin-left: 0;
    width: 30%;
}
.introBox .top_l2{
    text-align: left;
    margin-left: 0;
    width: 20%;
}
.introBox .bottom_l1{
    text-align: right;
    margin-right: 0;
    margin-top: 5%;
    width: 20%;
}
.introBox .bottom_l2{
    text-align: right;
    margin-right: 0;
    width: 30%;
}
.imgBox{
    margin: 0;
    padding: 0;
    width: 35%;
    position: relative;
    top: 12.2%;
    z-index: 0;
}
.avatar{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 45vw;
}
/* contact links */
.contactBox{
    position: relative;
    width: fit-content;
    height: 2.5vw;
    left: -15px;
    display: flex;
    /* border: 1px solid#c40404; */
}
.contactBox > a{
    height: 2.5vw;
    width: 2.5vw;
    text-align: center;
    text-decoration: none;
    color: #c40404;
    box-shadow: 0 0 8px 5px rgba(255, 0, 0, 0.5);
    border-radius: 50%;
    position: relative;
    margin: 0 15px;
    overflow: hidden;
    transition: transform 0.5s;
    
}
.contactBox > a > .bx{
    font-size: 1.5vw;
    line-height: 2.5vw;
    position: relative;
    z-index: 10;
    transition: color 0.5s;
}
/* CONTACT BOX HOVER ANIMATION */
.contactBox > a::after{
    content: '';
    width: 100%;
    height: 100%;
    top: -80px;
    left: 0;
    /* background: linear-gradient(-45deg, #c40404, #161616); */
    background-color: #c40404;
    position: absolute;
    transition: 0.5s;
}
.contactBox > a:hover::after{
    top: 0;
}
.contactBox > a:hover .bx{
    color: white;
}
.contactBox > a:hover{
    transform: translateY(10px);
}
/* NAVBAR HOVER ANIMATION */
.navBox > .navBar > ul > li{
    transition: transform 0.5s;
}

.navBox > .navBar > ul > li:hover{
    transform: translateY(10px);
}
.navBox > .navBar > ul > li > a:hover{
    color: #c40404;
}


/* My Service Section */
.serviceBox{
    position: relative;
    top: 15%;
    left: 10%;
    width: 80vw;
    height: 20.5vw;
    margin-top: 0;
    margin-right: 10%;
}
.serviceBox > .service_header{
    margin-top: 0;
    padding: 0;
    font-size: 3.5vw;
    font-family: 'Lobster', cursive;
    color: #ffffff;
}
/* Service Line Style */
.serviceBox hr{
    border: 3px solid#c40404;
}
.serviceBox .top_l1{
    text-align: left;
    margin-left: 0;
    width: 30%;
}
.serviceBox .top_l2{
    text-align: left;
    margin-left: 0;
    width: 20%;
}
.serviceBox .bottom_l1{
    text-align: right;
    margin-right: 0;
    margin-top: 5%;
    width: 20%;
}
.serviceBox .bottom_l2{
    text-align: right;
    margin-right: 0;
    width: 30%;
}
.service_grid_container{
    display: grid;
    height: 22vw;
    grid-gap: 2em;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}
.service_grid_box{
    width: fit-content;
    height: 15vw;
}
.serviceBox > .service_grid_container .service_grid_box > p > .bx{
    font-size: 2.3vw;
    color: #c40404;;
}
.serviceBox > .service_grid_container > .service_grid_box > p{
    /* border: 1px solid#c40404; */
    width: fit-content;
    font-size: 2vw;
    font-family: 'Lobster', cursive;
    color: #ffffff;
}

/* SCREEN RESOLUTION */
@media screen and (min-width: 40em) and (orientation: portrait){
    body{
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
    }
    .imgBox{
        visibility: collapse;
        height: 0;
        width: 0;
        
    }
    .homeSec{
        /* background-color: #121211; */
        background-image: url(assets/home_background/homeBG_phone.png);
        background-size: cover;
        width: 100%;
        height: 100%;
    }
    .serviceSec{
        width: 100%;
        height: 100%;
    }
    /* HOME SECTION */
    .introBox{
        top: 10%;
        position: relative;
        width: 80%;
        height:80%;
    }
    .introBox > .greetingTxt{
        font-size: 8vw;
    }
    .introBox > .nameTxt{
        font-size: 11vw;
    }
    .introBox > .titleTxt{
        font-size: 6vw;
    } 
    .introBox > .shortDis{
        font-size: 3vw;
    }
    .contactBox > a{
        height: 7.5vw;
        width: 7.5vw;
    }
    .contactBox > a > .bx{
        font-size: 5.5vw;
        line-height: 7.5vw;
    }
    .introBox hr{
        border: .7vw solid #c40404;
    }
    .introBox .top_l1{
        width: 40%;
    }
    .introBox .top_l2{
        width: 30%;
    }
    .introBox .bottom_l1{
        width: 30%;
    }
    .introBox .bottom_l2{
        width: 40%;
    }

    .navBox{
        height: 10vw;
        left:25vw;
        text-align: center;
        /* visibility: hidden; */
    }
    .navBar > ul > li{
        display: inline-block;
        margin-right: 3%;
        padding: 0;
        width: fit-content;
    }
    .navBar > ul > li > a{
        /* visibility: collapse; */
        top: 1vh;
        font-size: 2.5vw;

        /* border: #c40404 solid 1px; */  
    }
    /* SERVICE SECTION */

    .serviceBox{
        top: 5%;
        width: 80%;
        height: 90%;
    }

    .service_grid_container{
        height: 80%;
        grid-gap: 2em;
        grid-template-columns: repeat(auto-fit, minmax(80%, 1fr));
    }

    .serviceBox > .service_header{
        font-size: 8vw;
    }
    .serviceBox > .service_grid_container .service_grid_box > p > .bx{
        font-size: 5.3vw;
    }
    .serviceBox > .service_grid_container > .service_grid_box > p{
        font-size: 5vw;
    }

    .serviceBox hr{
        border: .7vw solid #c40404;
    }
    .serviceBox .top_l1{
        width: 40%;
    }
    .serviceBox .top_l2{
        width: 30%;
    }
    .serviceBox .bottom_l1{

        width: 30%;
    }
    .serviceBox .bottom_l2{
        width: 40%;
    }
}
